@charset "UTF-8";
/* This class is added on scroll */
.fixed {
	position: fixed !important; 
	top: 0; 
	height: 58px; 
	z-index: 99999;
}
.project-page .fixed{
    height: 78px;
}
.news-page .fixed{
    height: 68px;
}

html, body {
  overflow-x:hidden 
} 
body {
  font-family: Arial,sans-serif;
}
.readmore{
    color: #565656;
    text-align: right;        
}

    .slick a:hover, .slick a:focus, .project a:hover, .project a:focus
    , .faqs a:hover, .faqs a:focus{
        text-decoration: none; 
    }
    #header-right-bottom{
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 18px;
        color: #ffff00;
        margin-top: 15px;
        margin-right: 12px;
    }
    #header-right-bottom span{
        margin-left: 15px; 
    }
    
    .nav > li > a {
      padding: 15px 15px 15px 15px;    
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
       }
    
    .navbar {
      margin-bottom: 0;
      float: left;
      padding-left: 10px;
     }
     .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
     }
    .navbar-nav {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0; 
        }

        .nav > li:before
        {
            content: '';
            position: absolute;
            width: 100%;
            height: 0px;
            border-bottom: 2px solid #ca0000;
            bottom: 2px;
            -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: -webkit-transform 0.2s ease-in;
            transition: 0.2s ease-in;
        }

        .nav > li:hover:before,.nav > li.active:before
        {
            -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
            transform: scaleX(1);
        }

    #header-top {
        width: 340px;
        margin: 10px 24px;
    }
    
    #header-top  #search-top{
        width: 265px;
    }
    #header-top  > .pull-right ul{        
        padding: 0;
        list-style: none;
    }
    #header-top  > .pull-right li{        
        display: inline;
    }
    #header-top > .pull-right a.active{
        color: #fffc00;
    }
    #header-top  > .pull-right, #header-top > .pull-right a{
        margin-top: 6px;
        color: #fff;
        font-weight: bold;
    }
    #header-top > .pull-right a:hover, #header-top > .pull-right a:focus{
        text-decoration: none;
    }
    
    #header-top > div{
        display: inline-block;
    }
    /*<!--http://bootsnipp.com/snippets/featured/expanding-search-button-in-css-->*/
    .search-form .form-group {
        float: right !important;
        transition: all 0.35s, border-radius 0s;
        width: 32px;
        height: 32px;
        background-color: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        border-radius: 25px;
        border: 1px solid #ccc;
        margin-bottom: 0;
    }
    .search-form .form-group input.form-control {
        padding-right: 20px;
        border: 0 none;
        background: transparent;
        box-shadow: none;
        display:block;
    }
    .search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
    }
    .search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
    }
    .search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
    }
    .search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
    }
    .search-form .form-group:hover,
    .search-form .form-group.hover {
    width: 100%;
    border-radius: 25px 25px 25px 25px;
    }
    .search-form .form-group span.form-control-feedback {
        position: absolute;
        top: -1px;
        right: -2px;
        z-index: 2;
        display: block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        color: #3596e0;
        left: initial;
        font-size: 14px;
    }     
    .service{
        background-color: #ca0000; 
        
    }
    .slick{ 
        padding: 100px 0 50px 0; 
        margin: 0 15px;
    }
    .slick-slide {
        margin: 0 35px;
        transition: 0.8s        
     }
      
    .slick-slide:hover {
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
    }
    .slick h5, .slick p{
        color: #fff;        
    }
    .slick h5:hover, .slick p:hover{
        color: inherit;      
    }
    .slick p{
        font-size: 12px;        
    }
    
    .slick h5{
        text-transform: uppercase;
        font-weight: bold;
    }
    .slick a:hover, .slick a:focus {
        color: #ddd;      
    }
    .service-sum {
        height: 95px;
    }
    .service-ico {
        background-image: url('../img/service-icons.png');
        background-repeat: no-repeat;   
        width: 107px;
        height: 88px;
        display: inline-block;
        position: relative;
    }
        i.service-ico:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #ca0000;
            opacity: 0;
       }
       i.service-ico:hover:before, i.service-ico:hover:after {
            opacity: 0.2;
        }
        .service-ico.search-barcode {
          background-position: 0 0;
        }
        .service-ico.hosting {
          background-position: -107px 0;
        }
        .service-ico.mouse {
          background-position: -214px 0;
        }
        .service-ico.social-network {
        }
        .service-ico.search-web {
          background-position: -321px 0;
        }
        .service-ico.global {
          background-position: -428px 0;
        }

/*Projects home page*/
.news, .project{
    background-color: #fff;
}
.news h2.title, .project h2.title {
    padding: 0 60px 5px 60px;
    border-bottom: 3px solid #ff0000;
    display: inline-block;
}
.project{
    padding-top: 10px;    
    
}
#project-list{
    margin-bottom: 20px;
}
#project-category > ul{
    margin-bottom: 45px;
}
#project-leftside{
    margin-top: 50px;
}
#project-leftside p{
    margin-bottom: 90px;
}
#project-rightside img{
    width: 195px;
    height: 224px;
}
    
@media (min-width: 992px){      
    #project-items-rightside{
        display: inline-block;
        height: 568px;
        width: 100%;
    }
}

/*News home page*/
.news{
    padding-bottom: 70px;
}
#news-list {
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
}
.home-page #news-list {
    background-image: url("../img/news-banner.png");
    background-position: 50% 100%;
    min-height: 158px;
    font-size: 50px;
}

.news h2.title{
    padding: 40px 20px 5px 20px;
    font-weight: 700;
}
.news #news-category{
    margin: 35px 0 60px 0;
}
.news #news-leftside .sum {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


/*Faqs home page*/
.faqs{
    background-image: url("../img/faq-bg.png");
    background-position: 20% 100%;
    min-height: 595px;
    padding: 10px 0 10px 10px;
}
.faqs a {
    background-image: url("../img/faq-sticky-note.png");
    width: 219px;
    height: 168px;
    display: inline-block;
    padding: 40px 15px 10px 15px;
    
}

@media (min-width: 992px){  
    .faqs .faq-1 {
        padding-top: 25px;
    }
    .faqs .faq-2 {
        padding-top: 50px;
    }
    .faqs{
    padding: 90px 0 70px 10px;
    }
}

/*recruit home page*/
.recruit{
    background: #fff url("../img/recruit-bg.png") no-repeat 0 100%;
    min-height: 560px;
    padding: 10px 0 10px 10px;
}
.recruit #recruit-sum{
    margin-top: 260px;
    margin-left: 100px;
    height: 200px;
    width: 400px;
}
.recruit #recruit-sum p{
    text-align: right;
}
.recruit #recruit-sum .right, .recruit #recruit-sum .left {
  width: 90px;
  height: 100%;
}

.recruit #recruit-sum .right{
  -webkit-shape-outside: polygon(100% 0, 100% 100%, 0 100%);
  shape-outside: polygon(100% 0, 100% 100%, 0 100%);
  float: right;
}
.recruit #recruit-sum .left {
  -webkit-shape-outside: polygon(0 0, 100% 0, 0 100%);
  shape-outside: polygon( 0, 100% 0, 0 100%);
  float: left;
}
.recruit .recruit-item {
    background-image: url("../img/recruit-item.png");
    background-repeat: no-repeat;
    color: #fff;
    padding: 30px 0 0 85px;    
    list-style-type: none;
    height: 80px;    
    position: relative;
}
.recruit .recruit-item:before{
    position: absolute;
    top: 30px;
    left: 36px;
}
.recruit .recruit-item.item1:before{
    content: "1";
}
.recruit .recruit-item.item2:before{
    content: "2";
}
.recruit .recruit-item.item3:before{
    content: "3";
}
@media (min-width: 992px){   
    .recruit .recruit-item.item2{
        margin-left: 60px;
    }
    .recruit .recruit-item.item3{
        margin-left: 120px;
    } 
    .recruit ol{
        float: right;
        width: 485px;
        margin-top: 160px;
    }
    
}


/*customer home page*/
.customer{
    background: #fff url("../img/customer-bg.png") no-repeat 0 100%;
    min-height: 555px;
    padding: 10px 0 10px 10px;
}

/*customer home page*/
      
footer .footer-details{
    padding: 45px 70px 18px 60px;
    background: #1c1c1c url(../img/footer-bur-right-bg.png) no-repeat;
    background-position: right bottom;
}
footer #google-map{
    height: 250px;
}
footer #footer-introduction a{
    text-align: right;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
#footer-introduction > a > p:nth-child(2){
    margin-top: 25px;
}

footer ul#footer-social-items{
    list-style: none;
    display: block;
    line-height: 0;
    padding: 0px;
    margin-bottom: 0;
    
}
footer ul#footer-social-items li{
    float: left;
}
footer #footer-services{
        background-image: url('../img/footer-vertical-dot-line.png');
        background-repeat: repeat-y;
        background-position: 26px 0;
        display: inline-block;
        padding-left: 20px;
    
}
footer ul#footer-services li a{
    line-height: 25px;
    color: #ff7e00;
}
footer ul#footer-services li {
  background: url('../img/bullet-service-item.png') no-repeat left center;
  padding: 3px 0px 3px 20px;
  /* reset styles (optional): */
  list-style: none;
  margin: 0;
}


footer ul#footer-services li a:active, footer ul#footer-services li a:hover{    
    color: #ff6400;
}
footer ul#footer-services li:first-child{
    margin-top: 30px;
}
    footer #footer-social-items a{
        background-image: url('../img/social-icons.png');
        background-repeat: no-repeat;   
        width: 45px;
        height: 45px;
        display: inline-block;
        position: relative;
        margin: 0 5px 0 5px;
    }
        i.service-ico:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #ca0000;
            opacity: 0;
       }
       i.service-ico:hover:before, i.service-ico:hover:after {
            opacity: 0.2;
        }
        footer #footer-social-items a.footer-facebook {
          background-position: 0 0;
        }
        footer #footer-social-items a.footer-tweeter {
          background-position: -52px 0;
        }
        footer #footer-social-items a.footer-skype {
          background-position: -104px 0;
        }
        footer #footer-social-items a.footer-goole-plus {
          background-position: -156px 0;
        }

        footer .copyright {
            background-color: #000;
        }
@media (max-width: 767px){
    .navbar {
        width: 100%;
    } 
    #header-right-bottom{        
        margin-top: 0;
    }
}
header {
    background: #ca0000 url("../img/index_header_bg.png") no-repeat left top;
}
@media (min-width: 992px){    
    header {
        height: 789px;
        position: relative;
    }
    #logo {
        z-index: 3000;
        position: absolute;
        bottom: 0;
        right: 232px;
        transition: 0.1s;
    }
    
    #logo a{
           display: block;
            background: transparent url(../img/logo.png) no-repeat left top;
            background-size: 180px 180px;
            width: 170px;
            height: 152px;
        }
    
    .container{
        width: 1260px;
    }
    .container{
        
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    #header-bottom{
        position: absolute;
        width: 1260px;        
        bottom: 0;
        padding-bottom: 9px;
        background: #ca0000 url(../img/index_header_bg.png) no-repeat bottom center;
    }   
    
}
@media (min-width: 768px){
    .list-inline li a:before {
        display: block;
    }
}
    .list-inline {
        margin-bottom: 0;
        padding: 0 0 12px;
        list-style: none;
        margin-left: -5px;
        margin-right: -5px;
    }
    .list-inline li a {
        color: #000;
        font-size: 14px;
        line-height: 1;
        cursor: pointer;
        padding: 3px 6px 25px;
        position: relative;
        transition: .3s;
        text-decoration: none;
    }
    .list-inline li a.active, .list-inline li a:hover {
        color: #ca0000;
    }
    .list-inline li a:before {
        width: 11px;
        height: 11px;
        display: none;
        -webkit-transform: rotate(42.7deg) translate(-50%);
        transform: rotate(47deg) translate(-35%);
        top: 100%;
        left: 50%;
        z-index: 1;
        background: #fff;
        border: 1.5px solid #fff;
        border-right-color: #ca0000;
        border-bottom-color: #ca0000;
        margin-top: -2px;
        transition: .1s;
    }
    .list-inline li a:before, .list-inline li a:after {
        content: '';
        position: absolute;
        display: block;
        opacity: 0;
    }
    .list-inline li a:after {
        background: #ca0000;
        height: 1px;
        width: 105%;
        top: 90%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .list-inline li a.active:before, .list-inline li a.active:after, .list-inline li a:hover:before, .list-inline li a:hover:after {
        opacity: 1;
    }
    @media (min-width: 768px) {
        .list-inline li a:after {
            top: 100%;
        }
    }
   
/*project page*/ 
.project-page header {
    background: #ca0000 url("../img/project-header-bg.png") no-repeat left bottom;
}
@media (min-width: 992px){
    .project-page header {
        height: 326px;
        position: relative;
    }
    .project-page #header-bottom {
    position: absolute;
    width: 1260px;
    bottom: 0px;
    padding-bottom: 14px;   
    background: #ca0000 url("../img/project-header-bg.png") no-repeat left bottom;
    }
    .project-page #logo {
    bottom: -25px;
    left: 5px;
    right:auto;
    transition: 0.1s;
}
.project-page .navbar {
    padding-bottom: 10px;
    padding-left: 146px;
}
.project-page  #header-right-bottom {
    color: #eb2000;
    margin-top: 36px;
}
.project-page #logo a {
    display: block;
    background-position: left bottom;
    background-size: 149px 149px;
    width: 170px;
    height: 152px;
}
.image-container img{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.image-container {
    position: relative;
    height: 224px;
}
.md-5th{
    width: 20%;
}


/*news page*/ 
.news-page header {
    background: #ca0000 url("../img/news-header-bg.png") no-repeat center bottom;
}
    .news-page header {
        height: 316px;
        position: relative;
    }
    .news-page #header-bottom {
    position: absolute;
    width: 1260px;
    bottom: 0px;
    padding-bottom: 5px;   
    background: #ca0000 url("../img/news-header-bg.png") no-repeat center bottom;
    }
    .news-page #logo {
    bottom: -25px;
    left: 5px;
    right:auto;
    transition: 0.1s;
}
.news-page .navbar {
    padding-bottom: 10px;
    padding-left: 146px;
}
.news-page  #header-right-bottom {
    color: #eb2000;
    margin-top: 36px;
}
.news-page #logo a {
    display: block;
    background-position: center bottom;
    background-size: 149px 149px;
    width: 150px;
    height: 152px;
}
}
.news-page .news #news-list > h2{
    color: #000;
}
.news #news-items-most-saw{
    background-color: #efefef;
}

#contact-google-map{
    height: 572px;
}